* {
    margin: 0;
    padding: 0;
}

.beijing {
    /* width: 64; */
    overflow: hidden;
    margin: 0 auto;
    background-color: rgb(243, 242, 242);
}

.toubu {
    width: 94%;
    padding: 0 3%;
    height: 0.9rem;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 99;
}

.toubuleft {
    width: 0.8rem;
    height: 0.9rem;
    position: absolute;
    left: 3%;
    top: 0;
    background: url(../../assets/arrow-left.png) no-repeat left center;
    background-size: 60%;
}

.center {
    display: block;
    margin: 0 0.8rem;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.3rem;
    text-align: center;
    /* background-color: coral; */
}

.touburight {
    width: 0.8rem;
    height: 0.9rem;
    /*background: url(../img/class/share.png) no-repeat right center;*/
    background-size: 50%;
    position: absolute;
    right: 3%;
    top: 0;
}


/* 分享页面 */

.fenxiang {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 999;
}

.huidi {
    width: 100%;
    height: 9.35rem;
    float: left;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.huise {
    width: 100%;
    height: 9.5rem;
    background: rgba(0, 0, 0, 0.1);
}

.fx {
    width: 94%;
    padding: 0 3%;
    position: fixed;
    float: left;
    bottom: 0;
    left: 0;
    height: 4rem;
    background: white;
    z-index: 999;
}

.fx-1 {
    width: 100%;
    height: 0.9rem;
    /* background: yellow; */
    line-height: 0.9rem;
    /* background-size: 0.2rem; */
    float: left;
    text-align: center;
    font-size: 0.3rem;
}

.hehe {
    width: 100%;
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
}

.weixin {
    width: 1.25rem;
    height: 1.25rem;
    float: left;
    /* text-align: center;
    margin-bottom: 10px;
    font-size: 12px; */
    /* background-color: rgb(165, 136, 42); */
    /* width: 20%;
    float: left; */
    text-align: center;
    margin-bottom: 0.2rem;
    font-size: 0.24rem;
    margin-right: 0.2rem;
}

.weixin-1 {
    width: 1.25rem;
    height: 1.25rem;
    float: left;
    /* text-align: center;
    margin-bottom: 10px;
    font-size: 12px; */
    /* background-color: rgb(165, 136, 42); */
    /* width: 20%;
    float: left; */
    text-align: center;
    margin-bottom: 0.2rem;
    font-size: 0.24rem;
    /* margin-right: 0.1rem; */
}

.weixin-2 {
    width: 1.25rem;
    height: 1.25rem;
    float: left;
    /* text-align: center;
    margin-bottom: 10px;
    font-size: 12px; */
    /* background-color: rgb(165, 136, 42); */
    /* width: 20%;
    float: left; */
    text-align: center;
    margin-bottom: 0.2rem;
    font-size: 0.24rem;
    /* margin-right: 0.1rem; */
}

.tu {
    width: 0.8rem;
    height: 0.8rem;
    /* float: left; */
    margin: auto;
    /* overflow: hidden; */
    /* background-color: aqua; */
    /*background: url(../img/class/icon_qq.png) no-repeat right center;*/
    background-size: 100%;
    /* background-color: white; */
}

.tu img {
    width: 0.8rem;
    height: 0.8rem;
    /* float: left; */
    margin: auto;
    background-color: white;
    /* overflow: hidden; */
    /* background-color: aqua; */
    /* background: url(../img/icon_qq.png) no-repeat right center; */
    background-size: 100%;
}

.zi {
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    display: inline-block;
    font-size: 0.24rem;
    color: rgb(250, 249, 249);
}

.neirong {
    width: 100%;
    float: left;
}
.neirong>van-swipe>img{
    width: 80%;
    height: 80%;
}
.banner {
    position: relative;
    width: 100%;
    /*height: 7.5rem;*/
    /* background-color: palevioletred; */
    background-size: 100%;
}


/* // 图片// */

.tupian {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5rem;
    /* opacity: 0; */
    background-color: white;
}

.tupian img {
    /* position: absolute; */
    width: 100%;
    height: 7.5rem;
}

.box {
    position: absolute;
    width: 3.5rem;
    height: 0.2rem;
    /* background-color: rgb(76, 0, 255); */
    left: calc(50% - 0.5rem);
    bottom: 0.15rem;
    z-index: 555;
    /* margin: auto; */
}

.box>.top {
    /* position: absolute; */
    margin: 0 0.1rem;
    width: 0.1rem;
    height: 0.1rem;
    background-color: #DDDDDD;
    /* border: solid 0.02rem rgba(0, 0, 0, 0.4); */
    /* border-radius: 50%; */
    float: left;
}

.neirong>.banner>.box>.rover {
    background-color: #666666;
    /* background-color: rgb(172, 171, 171); */
    width: 0.25rem;
}

.kuaiyi {
    width: 94%;
    height: 2.3rem;
    float: left;
    border-top: 0.04rem solid #F6F6F6;
    padding: 0rem 3%;
    background-color: white;
    padding-top: 0.3rem;
}

.shang {
    width: 100%;
    height: 0.68rem;
    /* background-color: rgb(30, 210, 201); */
    float: left;
    margin-bottom: 12px;
}

.yi {
    font-size: 0.52rem;
    color: #FFB34E;
    float: left;
}

.er {
    font-size: 0.24rem;
    color: #747474;
    float: left;
    margin: 0.24rem 0.1rem 0rem 0.1rem;
    text-decoration: line-through;
}

.san {
    padding: 0px 8px;
    height: 18px;
    line-height: 18px;
    background: #FFB34E;
    color: #fff;
    float: left;
    font-size: 12px;
    margin-top: 9px;
}

.xia {
    width: 100%;
    float: left;
    line-height: 0.44rem;
    font-size: 0.32rem;
    /* background-color: darkgreen; */
}

.kuaire {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    background: #fff;
    margin-top: 0.2rem;
    float: left;
    font-size: 0.3rem;
    text-align: center;
    /* background-color: crimson; */
    border-bottom: 0.04rem solid #F9F9F9;
}

.kuaisan {
    width: 94%;
    height: 1.2rem;
    float: left;
    padding: 0.2rem 3%;
    background-color: white;
}

.aa {
    width: 100%;
    float: left;
    font-size: 0.28rem;
    line-height: 0.6rem;
}

.aa i {
    float: left;
    color: #8A8D93;
    font-style: normal;
}

.bb {
    width: 100%;
    float: left;
    font-size: 0.28rem;
    line-height: 0.6rem;
}

.bb i {
    float: left;
    color: #8A8D93;
    font-style: normal;
}

.kuaisi {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #fff;
    margin-top: 10px;
    float: left;
    /* background-color: aquamarine; */
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #F9F9F9;
}

.dibu {
    width: 100%;
    float: left;
    height: 1.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    /* background: green; */
}

.dibu-1 {
    width: 17%;
    height: 1.2rem;
    float: left;
    text-align: center;
    font-size: 0.28rem;
    background-color: white;
    border-right: 0.03rem solid rgb(219, 216, 216);
    border-top: 0.03rem solid rgb(219, 216, 216);
}

.dibu1-img {
    width: 0.56rem;
    height: 0.56rem;
    background: url(../../assets/detail/home2.png) no-repeat center center;
    background-size: 100%;
    /* background-color: yellowgreen; */
    display: inline-block;
    margin-top: 0.14rem;
}

.wemzi {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: #828282;
    background-color: white;
}

.dibu-2 {
    width: 17%;
    height: 1.2rem;
    float: left;
    text-align: center;
    font-size: 0.28rem;
    background-color: white;
    border-top: 0.03rem solid rgb(219, 216, 216);
}

.dibu2-img {
    width: 0.56rem;
    height: 0.56rem;
    background: url(../../assets/detail/shop-cart1.png) no-repeat center center;
    background-size: 100%;
    /* background-color: yellowgreen; */
    display: inline-block;
    margin-top: 0.14rem;
}

.dibu-3 {
    width: 33%;
    height: 1.2rem;
    border: none;
    outline: none;
    background: #111111;
    color: #EEEEEE;
    float: left;
    font-size: 0.32rem;
    line-height: 1.2rem;
    text-align: center;
}

.dibu-4 {
    width: 32.6%;
    height: 1.2rem;
    border: none;
    outline: none;
    background: orange;
    color: #EEEEEE;
    float: left;
    font-size: 0.32rem;
    line-height: 1.2rem;
    text-align: center;
}